contextily
fiftyone
fiftyone[desktop]
dash
folium
geopandas
pymap3d
jupyter-dash
jupyterlab
lxml
#gdal
networkx[default,extra]
opencv-contrib-python
numpy
umap-learn
pandas
seaborn
scikit-learn
scikit-image
scipy
matplotlib
plotly
torch
torchvision
torchaudio
rasterio
pygraphviz
pydot
pyyaml
tensorflow
tensorflow-datasets

# docs
sphinx
sphinx-book-theme
myst-nb
jupytext
