contextily
fiftyone
fiftyone[desktop]
dash
dash-bootstrap-components
folium
geopandas
pymap3d
jupyter-dash
jupyterlab
lxml
networkx[default,extra]
opencv-contrib-python
numpy
umap-learn
pandas
seaborn
scikit-learn
scikit-image
scipy
matplotlib
plotly
torch
torchvision
torchaudio
rasterio
pygraphviz
pydot
pyyaml
tensorflow
tensorflow-datasets

# docs
#sphinx
sphinx-book-theme
myst-nb
jupytext

# sphinx extensions
sphinxcontrib-bibtex
sphinx-togglebutton
sphinx-tabs
sphinxcontrib.youtube

# downgrade some versions in the meantime until it gets updated
docutils<0.18,>=0.15
sphinx<5,>=3.5
nbclient<0.6,>=0.2
